{
    "token": "",
    "sessionSecrets": "",
    "paypal_cid": "",
    "paypal_secret": "",
    "paypal_mode": "",
    "pteroKey": "",
    "emailPassword": "",
    "jwtToken": "",
    "licenseKey": ""
}